/**
 * 
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

body {
	font: small/normal Arial,sans-serif;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

hr {
	border-style: solid;
	border-color: #EEE;
	border-width: 1px 0 0 0;
}

button, select {
	background: whiteSmoke;
	background-image: -webkit-gradient(linear,left top,left bottom,from(whiteSmoke),to(#F1F1F1));
	background-image: -webkit-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -ms-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: linear-gradient(top,whiteSmoke,#F1F1F1);
	border: 1px solid gainsboro;
	border-radius: 2px;
	color: #444;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	height: 29px;
	line-height: 27px;
	min-width: 67px;
	outline: none;
	padding: 0 8px;
	text-align: center;
}

button:hover,
select:hover {
	background: #F8F8F8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F8F8F8),to(#F1F1F1));
	background-image: -webkit-linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: -moz-linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: -ms-linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: -o-linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: linear-gradient(top,#F8F8F8,#F1F1F1);
	border: 1px solid #C6C6C6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #222;
}

button:active,
select:active {
	background: #F6F6F6;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F6F6F6),to(#F1F1F1));
	background-image: -webkit-linear-gradient(top,#F6F6F6,#F1F1F1);
	background-image: -moz-linear-gradient(top,#F6F6F6,#F1F1F1);
	background-image: -ms-linear-gradient(top,#F6F6F6,#F1F1F1);
	background-image: -o-linear-gradient(top,#F6F6F6,#F1F1F1);
	background-image: linear-gradient(top,#F6F6F6,#F1F1F1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

select,
select:hover,
select:active,
select:focus {
	-webkit-appearance: none;
	background-image: url("../images/arrow-up-down.png");
	background-repeat: no-repeat;
	background-position: right center;
	min-width: 80px;
	padding-right: 25px;
}

input {
	border: 1px solid gainsboro;
	border-radius: 2px;
	color: #444;
	font-size: 11px;
	height: 31px;
	line-height: 27px;
	outline: none;
	padding: 0 8px;
}

input:hover {
	border-color: #C6C6C6;
}

button:focus,
input:focus,
select:focus {
	border-color: #91a5f1;
}

.border-box-sizing {
	box-sizing: border-box;
}

.display-box {
	display: -webkit-box;
}

.display-block {
	display: block;
}

.box-flex {
	-webkit-box-flex: 1;
}

.group-buttons {
	margin: 0 7px;
}

.group-buttons button {
	border-radius: 0;
	margin-left: -1px;
}

.group-buttons button:first-child {
	border-radius: 2px 0 0 2px;
	margin-left: 0;
}

.group-buttons button:last-child {
	border-radius: 0 2px 2px 0;
}

.min-width-0 {
	min-width: 0;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.locale {
	border-top: 1px solid #EEE;
	box-sizing: border-box;
	padding: 7px 3px;
	text-align: right;
}

.calendar header {
	border-bottom: 1px solid #EEE;
	padding: 7px 3px;
	-webkit-box-align: center;
}

.calendar .group-buttons {
	margin-right: 0;
}

.calendar .monthly-calendar {
	border-bottom: 1px solid #EEE;
	padding: 7px 3px;
}

.calendar .filter {
	border-bottom: 1px solid #EEE;
	position: relative;
}

.calendar .filter,
.calendar .list .event {
	padding: 7px 3px;
}

.calendar .filter select {
	border-style: solid;
	border-width: 0 1px 0 0;
	border-color: gainsboro;
	margin: 1px 0 0 1px;
	position: absolute;
}

.calendar .filter input {
	padding-left: 90px;
	width: 100%;
}