<!DOCTYPE html>
<html ng-app="Calendar">
<head>
	<meta charset="utf-8" />
	<title>Angular Calendar</title>
	<link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body ng-controller="Cldr" ng-cloak>
	<!-- Calendar -->
	<div class="calendar">
		<calendarwidget></calendarwidget>
		<section>
			<filter></filter>
			<div class="list">
				<div class="event">
					test
				</div>
			</div>
		</section>
	</div>

	<!-- Locale -->
	<header class="locale">
		<select ng-model="locale" ng-click="changeLocale">
			<option value="en">en</option>
			<option value="bg">bg</option>
			<option value="zh-tw">zh-tw</option>
			<option value="ko">ko</option>
			<option value="ru">ru</option>
		</select>
	</header>

	<!-- moment.js - javascript date library  -->
	<script src="js/moment.js/moment.js"></script>
	<script src="js/moment.js/lang/bg.js"></script>
	<script src="js/moment.js/lang/zh-tw.js"></script>
	<script src="js/moment.js/lang/ko.js"></script>
	<script src="js/moment.js/lang/ru.js"></script>
	<!-- angular.js - Superheroic JavaScript MVW Framework -->
	<script src="js/angular-1.0.1/angular-1.0.1.js"></script>
	<!-- -->
	<script src="js/main.js"></script>
</body>
</html>