<div class="calendar-widget">
	<header class="display-box">
		<label class="display-block box-flex">{{selectedDateObj|dateFilter:"D MMMM YYYY"}}</label>
		<nav class="display-box">
			<button ng-click="today()" class="todayBtn">Today</button>
			<div class="group-buttons">
				<button title="Previous Month" ng-click="changeDate(-1)" class="prev no-margin min-width-0">&lt;</button><!--
				--><button title="Next Day" ng-click="changeDate(1)" class="next no-margin min-width-0">&gt;</button>
			</div>
		</nav>
	</header>
	<div class="monthly-calendar" ng-hide="minMode">
		Calendar
	</div>
</div>