<div class="filter">
	<select class="no-margin">
		<option value="name">Name</option>
		<option value="location">Location</option>
	</select>
	<input class="no-margin border-box-sizing" ng-model="searchText" placeholder="Search"/>
	<div class="clear" ng-hide="!searchText" ng-click="reset()"></div>
</div>